<button *ngIf="isShow" (click)="sayHi('123')">hi</button>

<button *ngIf="isShow" (click)="sayHi('123')">hi</button>



<app-lesson1></app-lesson1>
<hr>
<app-lesson2></app-lesson2>
<hr>
<div *ngFor="let week of weeks">{{week}}</div>
<div *ngFor="let user of users">{{user.name}}</div>
<app-lesson3></app-lesson3>
<hr>
{{users | json}}
<br/>
{{now | date:'yyyy-MM-dd'}}
<br/>
{{'example' | repeat:3}}
<br/>
<hr>
<app-lesson4></app-lesson4>
<hr>
<app-star buttonTitle="Hi"></app-star>
<app-star buttonTitle="Yes"></app-star>
<hr>
<app-lesson5></app-lesson5>



